body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

label {
  font-weight: bold;
}

select, input[type="submit"] {
  margin-bottom: 10px;
}

form
{
  align-items: center;
  font-family: 'Algerian';
}

#results {
  margin-top: 20px;
}
